<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
 	<title>Sign up to Vguru</title>
	<link th:href="@{assets/img/favicon.png}" rel="icon" />
	<style>
body{
	margin:10px;
	padding:10px;
	background-image:url("assets/img/logimg.jpg");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	font-family: sans-serif;

}
form{
	border: 2px solid black;
	padding: 20px;
                   

}
.login_box, .signup_box{
	background-color: #fedc56;
	position: absolute;
	top:60%;
	left:70%;
	transform: translate(-50%, -46%);
	padding-top: 2px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    border-color:#d2d2d2;
    border-width: 5px;
    color:#ff0000;
    box-shadow:-10px -10px 9px #FFFDD0;
}
.user{
	width: 500px;
	height:100px;
	position: absolute;
	top:-50px;
	left:calc(50% - 240px);
	

}
h1{
	margin: 0;
	padding: 50px 0 20px;
	font-size:30px;
	color:black;
	text-align: center;

}
label, p{
	color: black;
	margin: 0;
	padding:0;
	font-weight: bold;
	
	
}
input{
	width:100%;
	margin-bottom: 10px;

}
input[type="text"], input[type="password"], input[type="email"]{
	border:none;
	border-bottom: .2px solid white;
	background: transparent; 
	outline:none;
	height:40px;
	color:black;
	font-size: 15px;
    font-weight: lighter;
}
.button{
	border:none;
	outline:none;
	background:black;
	font-size: 20px;
	color:black;
	border-radius: 30px;
	font-weight: bold;
	text-align:center;

}

.button{
	text-decoration: none;
	color:white;
	font-size:20px;
	line-height:30px;
	line-width:20px;
    float:center;
    width:300px;
   

}
a{
color:black;
text-decoration:none;
}
a:hover{
	color:#e1ad01;
}
.button, span{
	font-weight: bold;
}
</style>
 </head>
 <body>
 <div class="signup_box">
 	<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to vguru!</div>
				</div>

				<h1>SIGN UP</h1>
				<form th:action="@{/registration}" th:object="${user}" method="post">

					<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
						th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
						error</p>

					<div 
						th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
						<label for="firstName" >First name</label> <input
							type="text" id="firstName" placeholder="first name" th:field="*{firstName}" />
						<p class="error-message"
							th:each="error: ${#fields.errors('firstName')}"
							th:text="${error}">Validation error</p>
					</div>
					<div 
						th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
						<label for="lastName" >Last name</label> <input
							type="text" placeholder="last name" id="lastName" th:field="*{lastName}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('lastName')}"
							th:text="${error}">Validation error</p>
					</div>
					<div>
						<select id = "role" name = "role">
   							<option value = "NONE">Select</option>
   							<option value = "ADMIN">Admin</option>
   							<option value = "USER">User</option>
						</select>
					</div> 
					<div
						th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
						<label for="email">Enter e-mail</label> <input type="email" placeholder="e-mail"
							id="email" th:field="*{email}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
							error</p>
					</div>
					<div 
						th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
						<label for="confirmEmail" >Confirm
							e-mail</label> <input id="confirmEmail"  type="email" placeholder="re-confirm e-mail"
							th:field="*{confirmEmail}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('confirmEmail')}"
							th:text="${error}">Validation error</p>
					</div>
					<div 
						th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
						<label for="password" >Password</label> <input
							id="password" type="password" placeholder="password"
							th:field="*{password}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('password')}"
							th:text="${error}">Validation error</p>
					</div>
					<div 
						th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
						<label for="confirmPassword">Confirm
							password</label> <input id="confirmPassword" placeholder="re-confirm password"
							type="password" th:field="*{confirmPassword}" />
						<p class="error-message"
							th:each="error : ${#fields.errors('confirmPassword')}"
							th:text="${error}">Validation error</p>
					</div>
					<div>
					<div>
					<button type="submit" class="button">SIGN UP</button>
					</div>
					<a href="/vgurumain" th:href="@{/login}"><br>Existing user?<br>Login here</a>
				   </div>
   
				</form>
 
 <script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
</div>
 </body>
 </html> 